<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings">
            <img src="/RoomRover_Logo.png" alt="navbar logo" class="nav-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link nav-title" href="/listings" style="font-size: 2rem;">RoomRover</a>
            </div>
            <div class="navbar nav ms-auto">
                <form class="d-flex" role="search">
                    <label for="country"></label>
                    <select name="listing[country]" id="country" class="form-control me-2 search-input" required>
                        <option value="" disabled selected class="search-text">-- Select a country --</option>
                    </select>
                    <button class="btn search-btn search-text" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </form>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/listings/new"><b>Become A Host</b></a>
                <% if(!currUser) {%>
                    <a class="nav-link" href="/signup"><b>Sign Up</b></a>
                    <a class="nav-link" href="/signin"><b>Sign In</b></a>
                <% } %>
                <% if(currUser) {%>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>


