<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>RoomRover</title>
    </head>
    <body>
        <h3>All Listings</h3>
        <form method="GET" action="/listings/new">
            <button>Create New listings</button>
        </form>
        <ul>
            <% for(let listing of allListings) { %>
                <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
            <%}%>
        </ul>
    </body>
</html>


