<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-5">
    <h3 class="col-6 offset-3">Sign in For RoomRover</h3>
    <div class="col-6 offset-3 mt-3" id="signin-section">
        <form action="/signin" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label"><b>Enter Username : </b></label>
                <input name="username" placeholder="Enter Username" type="text" class="form-control" id="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label"><b>Enter password : </b></label>
                <input name="password" placeholder="Enter password" type="password" class="form-control" id="password" required>
            </div>
            <button class="btn btn-success">Sign In</button>
        </form>
    </div>
</div>
